nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  padding: 0.3rem 0px;
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
}

nav .logo {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.nav-links ul {
  display: flex;
  gap: 10px;
}

.nav-links ul li {
  font-size: 1.2rem;
  margin: 0 5px;
}

nav #toggler {
  display: none;
}

nav .menu-icon {
  display: none;
}

/* media query  */
@media only screen and (max-width: 981px) {
  nav .menu-icon {
    display: block;
  }

  nav .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }

  nav .nav-links ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 20px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  nav #toggler:checked ~ .nav-links ul {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition-duration: 0.5s;
  }

  .nav-links ul li {
    font-size: 1.3rem;
    display: block;
    border-bottom: 1px solid #cbd5e1;
  }
}

/* ==============dropdown menu style=========================== */

.dropdown-menu {
  display: none;
  position: absolute;
  top: auto;
  left: auto;
  background: #fff;
  padding: 10px;
  animation: dropdown-animation 0.3s ease-in-out;
}

.dropdown-menu li {
  margin: 10px 0;
  border-bottom: 1px solid rgb(218, 214, 214);
}

.dropdown-menu li:hover {
  background-color: #5c98f2;
  padding: 0 10px;
  color: white;
  transition-duration: 0.5s;
}

li:hover .dropdown-menu {
  display: block;
}

@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateX(0px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
